.SearchResults {
  margin: 30px 40px;
}

.summary {
  margin-bottom: 30px;
  text-align: justify;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bar {
  position: relative;
}

.progressbar10 {
  border-radius: 2px;
  width: 70vw;
  background-color: #C5D6DC;
  height: 20px;
}

.progressbar {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background-color: #212731;
  color: #C5D6DC;
}

@media only screen  
  and (max-device-width: 770px) {
    .progressbar10 {
      width: 50vw;
    }
  }

  @media only screen  
  and (max-device-width: 375px) {

    .SearchResults {
      margin: 30px 20px;
    }

    .summary {
      display: none;
    }
    
    .categories {
      margin-bottom: 15px;
    }

    .categories p {
      font-size: 14px;
    }

    .progressbar {
      font-size: 9px;
      padding-top: 4px;
    }
  }