.CityData {
  text-align: center;
  margin: 0 auto;
  height: 80vh;
  padding-top: 30px;
}

input {
  border: none;
  border-radius: 2px;
  background-color: rgba(193,111,87, 0.3);
  box-shadow: none;
  width: 180px;
  height: 20px;
  text-align: center;
  padding: 20px;
  color: #212731;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

input:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 2px;
  background-color: rgba(33,39,49, 0.5);
  color: #C5D6DC;
  text-align: center;
  padding: 2px 2px 3px 2px;
  width: 60px;
  font-size: 10px;
}

button:focus {
  outline: none;
}

@media only screen  
  and (max-device-width: 500px) {
    input {
      width: 100px;
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
    }

    button {
      width: 60px;
    }
  }